@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-1Thin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-2ExtraLight.ttf");
  font-weight: 200;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-3Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-4Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-5Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-6SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-7Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-8ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: "freesentation";
  src: url("../assets/fonts/Freesentation-9Black.ttf");
  font-weight: 900;
}

body {
  font-family: "freesentation", Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 80%;
}

.weather-air-quality {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.weather {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.weather .temperature {
  display: flex;
  align-items: center;
}

.weather .temperature .icon {
  font-size: 50px;
  color: #ff3366;
  margin-right: 15px;
}

.weather .details .temp {
  font-size: 40px;
  font-weight: bold;
}

.weather .details .status {
  color: #666;
  font-size: 20px;
}

.weather .extra {
  margin-top: 10px;
  color: #666;
}

.weather .humidity,
.weather .fine-dust {
  margin-bottom: 5px;
}

.weekly-forecast {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
}

.forecast-title {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

.forecast-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forecast-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast-item .day {
  font-size: 16px;
  font-weight: bold;
}

.forecast-item .weather-icon {
  font-size: 20px;
}

.forecast-item .temp {
  font-size: 16px;
  font-weight: bold;
}

.lighting,
.windows,
.medication {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #e0e0e0; /* 구분선을 추가 */
}

.lighting {
  grid-column: 2 / 3;
  grid-row: 1 / 2; /* 전등 제어 위치 유지 */
}

.windows {
  grid-column: 2 / 3;
  grid-row: 2 / 3; /* 창문 제어 위치 유지 */
}

.medication {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  flex-direction: column;
  font-size: 24px; /* 약 알리미 텍스트 크기 */
}

.section-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px; /* 가독성을 높이기 위한 큰 텍스트 크기 */
}

.control-buttons {
  display: flex;
  justify-content: space-around; /* Centered and spaced */
  width: 100%;
}

.lighting-item {
  font-size: 24px; /* 가독성을 높이기 위한 큰 텍스트 크기 */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toggle-label {
  font-size: 20px; /* "스마트 제어모드"의 가독성을 위한 텍스트 크기 */
  margin-bottom: 10px;
  color: #555;
}

.toggle-switch {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 10px; /* Adds some spacing around the switch */
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-switch label {
  width: 50px; /* Switch width */
  height: 24px; /* Switch height */
  background-color: #ccc;
  border-radius: 34px;
  position: relative;
  cursor: pointer;
  transition: 0.4s;
}

.toggle-switch label:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + label {
  background-color: #20c997;
}

input:checked + label:before {
  transform: translateX(26px);
}

.toggle-text-container {
  display: flex;
  justify-content: space-between;
  width: 120px; /* 전체 너비를 더 넓게 조정 */
  margin-top: 5px; /* 텍스트와 스위치 사이의 간격 */
}

.toggle-text {
  font-size: 20px; /* "켜짐"과 "꺼짐"의 가독성을 위한 텍스트 크기 */
  color: #555;
  text-align: center;
  width: 40px; /* 각 텍스트의 너비 */
}

.windows .control-buttons div {
  font-size: 24px; /* "열림"과 "닫힘"의 가독성을 위한 텍스트 크기 */
  display: flex;
  align-items: center;
}

.time-button {
  font-weight: 300;
  background-color: #20c997; /* 버튼 배경색 */
  color: white;
  border: none;
  border-radius: 50px; /* 둥근 모서리 */
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.time-button:hover {
  background-color: #17a589; /* 호버시 버튼 배경색 */
}

.time-button .icon {
  margin-left: 10px; /* 아이콘과 텍스트 사이 간격 */
  font-size: 20px; /* 아이콘 크기 */
}

#weather-icon {
  font-size: 50px; /* 이모지 크기 조정 */
}
